*{
    margin: 0;
    padding: 0;
    
}

video {
    width: 35%;
    margin: auto;
    
}

iframe{
    width: 35%;
    margin: 2% 7%;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
}

h1{
    text-align: center;
    margin-top: .15%;
    margin-bottom: 1px;
    font-size: 60px;
}
h2{
    text-align: center;
    margin-top: %;
    font-size: 40px;
}
body{
    width: 100%;
    height: 100%;
    background: #9400D3;
}

.container {
    float: right;
    width: 68%;
    height: 500px;
    margin-left: 20%;
    margin-right: 20%;
    margin: 5px auto;
    background-size: contain;
    background-repeat: no-repeat;
    /* transition: 20s; */

    
    
    animation-name: animate;
    animation-direction: normal;
    animation-duration: 100s;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    }
    
    @keyframes animate{
     0%{background-image:url(robo/BraitenBird.jpg);}
    20%{background-image:url(robo/Crane.jpg);}
    40%{background-image:url(robo/If\ Arrow\ Program.PNG);}
    60%{background-image:url(robo/Inquistronic\ Arrow\ Movement\ Program.PNG);}
    80%{background-image:url(robo/Program.PNG);}
   100%{background-image:url(robo/Crane3.jpg);}
    }
