*{
    margin: 0;
    padding: 0;
    
}

/* video {
    width: 35%;
    margin: auto;
    
}

iframe{
    width: 35%;
    margin: 2% 7%;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
} */

video {
    width: 30%;
    margin: 5px;
}

iframe{
    width:90%;
    margin: 5px;
    border: 5px solid rgba(0, 0, 0, .3);
}

.jumbotron{
    background: url(images/rbt.jpg);
    /* background: #9400D3; */
    background-size: cover;
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: multiply;
    color: white;
    background-repeat: no-repeat;
}

h1{
    text-align: left;
    margin-top: .15%;
    margin-bottom: 1px;
    font-size: 60px;
}
h2{
    text-align: center;
    margin-top: %;
    font-size: 40px;
}
body{
    width: 100%;
    height: 100%;
    background: url(img/pic3.jpg);
    /* background: white; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 70px;
}

div#portfolio-nav.collapse.navbar-collapse{
    /* background-color: rgb(11, 58, 97); */

    color: white;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: rgb(11, 58, 97);
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}
.navbar-inverse .navbar-brand {
    color:white;
}
p{
    text-align: left;
}

div.col-md-6{
    text-align: center;
}

div.col-sm-12{
   text-align: center; 
}


.pics {
    float: right;
    width: 100%;
    height: 500px;
    margin-left: 20%;
    margin-right: 20%;
    margin: 15px auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border: 5px solid rgba(0, 0, 0, .3); */
    /* transition: 20s; */

    
    
    animation-name: animate;
    animation-direction: normal;
    animation-duration: 100s;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    }
    
    @keyframes animate{
     0%{background-image:url(robo/BraitenBird.jpg);}
    20%{background-image:url(robo/Crane.jpg);}
    40%{background-image:url(robo/If\ Arrow\ Program.PNG);}
    60%{background-image:url(robo/Inquistronic\ Arrow\ Movement\ Program.PNG);}
    80%{background-image:url(robo/Program.PNG);}
   100%{background-image:url(robo/Crane3.jpg);}
    }
